<div class="row dashboard-body">
  <div ng-controller="EventListController" class="event-list col col-lg-9">
    <ul class="events-sortable">
      <li class="accordion-group" ng-repeat="item in items">
        <div class="accordion-heading">
          <a href="#collapse{{$index}}" class="accordion-toggle" data-toggle="collapse" data-parent=".events-sortable">
            {{ item }}
          </a>
        </dsiv>
        <div id="collapse{{$index}}" class="accordion-body collapse">
          <div class="accordion-inner">
            test
          </div>
        </div>
      </li>
    </ul>
    <button ng-click="add()">Add</button>
  </div>
  <div class="col col-lg-2">
    <div id="affix-sidebar" data-spy="affix" >
      hi
    </div>
  </div>
</div>