body {
  font-family: 'Open Sans', sans-serif;
}

/* PLAN PAGE */

.dashboard-body {
  margin-top: 50px;
}

.event-list {
  margin-top: 40px;
}

.index-body {
  margin-top: 100px;
}

#event-list {
  margin-top: 50px;
}

button.index-create-button {
  font-size: 24px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#create_list_plan_text {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 24px;
}

#create_list_plan {
  width: 50%;
  margin: 0 auto;
}

.index-form-container {
  margin-bottom: 20px;
}

.index-outer {
  text-align: center;
  margin-top: 60px;
}

.index-inner {
  width: auto;
  margin: 0 auto;
}

#container .item {
  width: 240px;
  float: left;
  margin-bottom: 20px;

  text-align: center;

  background: #ddd;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
}

.landing h1 {
  margin-top: 120px;
  color: white;
  font-size: 68px;
  text-shadow: 0 0 15px rgba(0,0,0,0.6),0 -1px 1px rgba(0,0,0,0.6);
}

.cbp-bislideshow {
  background: black;
}

.landing h2 {
  color: #eee;
  font-size: 24px;
  text-shadow: 0 0 15px rgba(0,0,0,0.8),0 -1px 1px rgba(0,0,0,0.8);
  max-width: 600px;
  font-weight: 300;
  line-height: 30px;
}

.landing strong {
  font-weight: 500;
}

.landing .btn-warning {
  border: 1px #A15300 solid;
  border-radius: 5px;
  margin-top: 18px;
  font-size: 24px;
  text-shadow: 0 0 1px rgba(0,0,0,0.3),0 1px 1px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);
}

.landing-wrapper {
background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 44%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.6)), color-stop(44%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 44%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 44%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 44%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 44%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
