{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

{% verbatim %}

<div ng-app="app">
  <div class="navbar navbar-fixed-top" >
    <a class="navbar-brand" href="#">GroupTrotter</a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li id="fat-menu" class="dropdown">
        <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Dropdown 3 <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div ng-view>
  </div>
</div>

{% endverbatim %}

{% endblock %}
