{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/component.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/background-slideshow.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
  {% if not DEBUG %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
  {% endif %}
  {% endcompress %}


  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>


  {% compress js %}
  <script src="{{ STATIC_URL }}js/libs/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/jquery.imagesloaded.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/jquery.masonry.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/modernizr.custom.js"></script>
  <script src="{{ STATIC_URL }}js/libs/menu.js"></script>
  <script src="{{ STATIC_URL }}js/app.js"></script>
  {% endcompress %}

  <!-- LESS -->
  {% if DEBUG %}
  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/bootstrap/bootstrap.less" />
  <script src="{{ STATIC_URL }}js/libs/less.js"></script>
  {% endif %}

  <script src="{{ STATIC_URL }}js/bootstrap/bootstrap-transition.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap/bootstrap-collapse.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap/bootstrap-affix.js"></script>

</head>

<body>

<div>
  <div class="navbar navbar-fixed-top" >
    <a class="navbar-brand" href="#">GroupTrotter</a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li id="fat-menu" class="dropdown">
        <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Dropdown 3 <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

  {% block content %}{% endblock %}
</body>
</html>
