{% extends "base.html" %}

{% block title %}Home | GroupTrotter{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{{ user.display_name }}
<a class="btn btn-default" href="/logout">Logout</a>
{% else %}
<a class="btn btn-primary" href="/facebook-login">Facebook Connect</a>
{% endif %}

{% if user.is_authenticated %}

<div id="plan-list"></div>

<form id="create_list_plan" class="form-inline">
  <input id="create_list_plan_text" type="text" placeholder="Plan Name">
  <button type="submit" class="btn btn-default">Create Plan</button>
</form>

<script>



</script>

{% endif %}

{% endblock %}
