{% extends "base.html" %}

{% block title %}Home | GroupTrotter{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{{ user.display_name }}
<a class="btn btn-default" href="/logout">Logout</a>
{% else %}
<a class="btn btn-primary" href="/facebook-login">Facebook Connect</a>
{% endif %}

{% if user.is_authenticated %}

<div class="container index-outer">
  <div class="index-form-container">
    <form id="create_list_plan" class="form-horizontal">
      <div class="input-group">
        <input id="create_list_plan_text" type="text" placeholder="New Plan Name">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-warning index-create-button">Create Plan</button>
        </span>
      </div>
    </form>
  </div>
  <div class="index-heading">
    <h2>Or select plans being built <strong>right now:</strong></h2>
  </div>
  <div class="index-inner" id="container"></div>
</div>

{% endif %}

{% endblock %}
