{% extends "base.html" %}

{% block title %}Home | GroupTrotter{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{{ user.display_name }}
<a class="btn btn-default" href="/logout">Logout</a>
{% else %}
<a class="btn btn-primary" href="/facebook-login">Facebook Connect</a>
{% endif %}

{% if user.is_authenticated %}

<div class="container index-outer">
  <div class="index-form-container">
    <form id="create_list_plan" class="form-horizontal">
      <input id="create_list_plan_text" type="text" placeholder="New Plan Name">
      <button type="submit" class="btn btn-warning create_list_button">Create Plan</button>
    </form>
  </div>

  <div class="index-inner" id="container"></div>
</div>

{% endif %}

{% endblock %}
