{% extends "base.html" %}

{% block title %}{{ plan.title }} | GroupTrotter{% endblock %}

{% block content %}

{{ plan.id }}<br />

<div id="plan-title"></div>
<div id="event-list"></div>

<script>

var plan_ref = new Firebase('https://grouptrotter.firebaseio.com/plans/{{ plan.id }}');

plan_ref.on('value', function(snapshot) {
  if(snapshot.val() === null) {
    alert('Plan does not exist!');
  } else {
    $('#plan-title').html(snapshot.val().title);
    var events = snapshot.val().events;
    $('#event-list').html('');
    events.forEach(function(element, index, array) {
      $('#event-list').append(element + '<br />');
    });
  }
});

</script>

{% endblock %}
