{% extends "base.html" %}

{% block title %}{{ plan.title }} | GroupTrotter{% endblock %}

{% block content %}

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

{{ plan.id }}

<div id="plan-title"></div>
<div id="event-list"></div>

<input id="input-event-header" type="text" />
<a id="btn-add-event" class="btn btn-success">Add Button</a>

<nav id="arc">
  <a href="#">+</a>
  <ul>
    <li><a href="#">&#x263D;</a></li>
    <li><a href="#">&#x2600;</a></li>
    <li><a href="#">&#x2708;</a></li>
    <li><a href="#">&#x2601;</a></li>
    <li><a href="#">&hearts;</a></li>
    <li><a href="#">&#x263A;</a></li>
  </ul>
</nav>

<div id="event-container" style="width:300px;border:1px solid blue;">
  <div id="event-info-container" style="width:300px;border:1px solid blue;">
    <p>
      <strong>Departure:</strong> 7:30pm (UTC: +5:00)</br>
      <strong>Location:</strong> Toronto Pearson Airport (YYZ)</br>
      <strong>Arrival:</strong> 2:15am (UTC: +5:00)</br>
      <strong>Location:</strong> London International Airport (YXU)<br>
      <br>
      <strong>Description:</strong><br> Flight C503 - Air Canada
    </p>
  </div>
  <div id="event-comment-container" style="width:300px;border:1px solid blue;">
    <ul id="comments"></ul>
    <input id="btn-add-comment" type="text"/>
  </div>
</div>
<script>

var plan_ref = new Firebase('https://grouptrotter.firebaseio.com/plans/{{ plan.id }}');

$(document).ready(function(){
  var m = new Menu(document.querySelector('nav'), {
    radius: 130,
    degrees: 90,
    offset: -90
  });

  var comments_ref = new Firebase('https://grouptrotter.firebaseio.com/plans/{{ plan.id }}/events/1/comments');
  $('#btn-add-comment').keypress(function (e) {
    if (e.which == 13) {
      comments_ref.push({value:$('#btn-add-comment').val(), commenter:'user1'});
      $('#btn-add-comment').val('');
    }
  });
  comments_ref.on('child_added', function(snapshot) {
    $('#comments').append('<li><b>' + snapshot.val().commenter + '</b> ' + snapshot.val().value + '</li>');
  });

  var events_ref = plan_ref.child('events');

  $('#btn-add-event').click(function() {
    var header = $('#input-event-header').val();
    events_arr = events_ref.push({header: header});
    events_ref.set(events_arr);
  });

  var dragEnd = function(e, ui) {
    var start = ui.item.data('start'),
          end = ui.item.index();

  };

  $('#event-list').sortable({
    start: function (){},
    end: dragEnd
  });
  $('#event-list').disableSelection();

    plan_ref.on('value', function(snapshot) {
    if(snapshot.val() === null) {
      alert('Plan does not exist!');
    } else {
      $('#plan-title').html(snapshot.val().title);
      var events = snapshot.val().events;
      $('#event-list').html('');
      for(var key in events) {
        var datum = events[key];
        $('#event-list').append('<div class="well">' + datum.header + '</div>');
      }
    }
  });
});

</script>

{% endblock %}
